.main
{
	background-color: #2ecc71;
	height: 100%;
}
.heading
{
	height: 7%;
	display: flex;
    align-items: center;
    justify-content: center;
}
.chat-container
{
	background-color: #ecf0f1;
	height: 93%;
}
.row
{
	height: 100%;
}
.side-bar
{
	background-color: #3498db;
}
.messages-container
{
	background-color: #8e44ad;
}
