@font-face 
{ 
    font-family: OpenSans; 
    src: url(fonts/OpenSans-Regular.ttf);
}
@font-face 
{ 
    font-family: OpenSansBold; 
    src: url(fonts/OpenSans-Bold.ttf);
}

.messages-container
{
	background-color: var(--light);
	display: flex;
	flex-flow: column;
}
.channel-info
{
	/*height: 8%;*/
	/*background-color: var(--text-green);*/
	flex: 0 1 62px;
	color: var(--dark);
	border-bottom: 1px solid #bdc3c7;
	margin-bottom: 10px;
}
.channel-info-name
{
	font-weight: 600;
	font-size: 1.1em;
	padding-top: 10px;
	display: inline-block;
}
.channel-info-image-div
{
	display: inline-block;
	position: relative;
	bottom: 2px;
}
.channel-info-image
{
	cursor: pointer;
	height: 18px;
	width: 18px;
}
.channel-info-desc
{
	font-size: 0.95em;
	display: inline-block;
	padding-bottom: 2px;
}
.messages-box
{
	/*max-height: 100%;*/
	flex: 1 1 auto;
	/*background-color: var(--text-blue);*/
	flex-flow: column;
	display: flex;
	
	color: var(--dark);
	
	flex-direction: column;
	/*margin-bottom: 0;*/
}
.message-box-spacer
{
	flex: 1 1 auto;
}
.message-box-main
{
	overflow-y: auto;
	flex: 0 1 auto;
}
.send-box
{
	flex: 0 1 60px;
	/*background-color: var(--text-red);*/
	/*height: 5%;*/
	/*padding: 0.5% 0 0.5% 0;*/
	padding: 11px 0 11px 0;
	border-top: 1px solid #bdc3c7;
	margin-top: 10px;
}
.send-box-inner
{
	/*height: 4%;*/
}
.message-element
{
	margin: 0;
	padding: 0;
	font-family: OpenSans;
}
.message-element-with-data
{
	margin-top: 10px;
}
.message-element:hover
{
	background-color: #f5f6fa;
}
.message-element-name
{
	font-family: OpenSansBold;
}
.message-element-time
{
	/*font-family: OpenSansBold;*/
	font-weight: 100;
	font-size: 0.9em;
	color: #747d8c;
}
.message-date
{
	font-family: OpenSansBold;
	text-align: center;
	border-bottom: 1px solid #bdc3c7;
	line-height: 0.1em;
	margin-top: 10px;
}
.message-date span
{
	background: var(--light); 
    padding: 0 10px;
}